# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Code\programmering2_v2021\Video 07.1 - Arv (Fly-eksempel)\03_Fly_Transportfly_Polymorfi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
