# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\larseknu\Downloads\programmering2_v2021-main\Video 08 - Collections\Video 08.1 - Array og ArrayList\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
